<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- Important: this section is required for IIS to forward requests to Gunicorn -->
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python3119\python.exe|D:\home\python3119\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        
        <!-- Remove default handlers for static content -->
        <staticContent>
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
        </staticContent>

        <!-- Rewrite rules to serve static content -->
        <rewrite>
            <rules>
                <rule name="Static Files" stopProcessing="true">
                    <match url="^static/.*" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="API Routes" stopProcessing="true">
                    <match url="^(api|health)" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="Root" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>

        <!-- Enable compression -->
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
            <staticTypes>
                <add mimeType="text/html" enabled="true" />
                <add mimeType="text/plain" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
            </staticTypes>
        </httpCompression>
    </system.webServer>
</configuration>
